hostname {{ hostname }}
{% if snmp_community %}
snmp-server community {{ snmp_community }}
{% endif %}
{% if ntp_server %}
ntp server {{ ntp_server }}
{% endif %}
{% if syslog_server %}
logging {{ syslog_server }}
{% endif %}
{% if dns_server %}
ip dns server-address {{ dns_server }}
{% endif %}

{# VLAN Configuration #}
{% for vlan in vlans %}
vlan {{ vlan.id }}
    name "{{ vlan.name }}"
!
{% if vlan.ip_address and vlan.prefix_length %}
interface vlan {{ vlan.id }}
    description "{{ vlan.description or vlan.name }}"
    ip address {{ vlan.ip_address }}/{{ vlan.prefix_length }}
    {% if vlan.helper_addresses %}
    {% for helper in vlan.helper_addresses %}
    ip helper-address {{ helper }}
    {% endfor %}
    {% endif %}
    {% if vlan.shutdown %}
    shutdown
    {% else %}
    no shutdown
    {% endif %}
!
{% endif %}
{% endfor %}

{# Interface Configuration #}
{% for interface in interfaces %}
{% set name = interface.name %}
{% if '-' in name and '/' in name and name.split('-')[1]|list|length < 5 %}
    {% set parts = name.split('-') %}
    {% set prefix = parts[0].rsplit('/', 1)[0] %}
    interface {{ parts[0] }}-{{ prefix }}/{{ parts[1] }}
{% else %}
interface {{ name }}
{% endif %}
{% if interface.description %}
    description "{{ interface.description }}"
{% endif %}
{% if interface.is_aos_cx and interface.aos_cx_type == 'routed' %}
    routing
    {% if interface.ip_address %}
    ip address {{ interface.ip_address }}/{{ interface.prefix_length or 24 }}
    {% endif %}
{% else %}
    no routing
    {% if interface.mode == 'access' %}
    vlan access {{ interface.access_vlan }}
    {% if interface.voice_vlan %}
    vlan voice {{ interface.voice_vlan }}
    {% endif %}
    {% if interface.portfast %}
    spanning-tree port-type admin-edge
    {% endif %}
    {% if interface.bpduguard %}
    spanning-tree bpdu-protection
    {% endif %}
    {% elif interface.mode == 'trunk' %}
    vlan trunk native {{ interface.get('native_vlan', 1) }}
    vlan trunk allowed {{ interface.allowed_vlans or 'all' }}
    {% endif %}
{% endif %}
{% if interface.shutdown %}
    shutdown
{% else %}
    no shutdown
{% endif %}
!
{% endfor %}

{# Default Route #}
{% if default_route and default_route.gateway %}
ip route 0.0.0.0/0 {{ default_route.gateway }}
{% endif %}